{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Dashboard{% endblock %}
{% block style %}
{% endblock %}
{% block actived %}class="active"{% endblock %}    
{% block content %}
  <div class="dash-container">
		<div class="dash-left">
			<div class="dl-divmain">{{ user.get_username}}</div>
			<div class="dl-div dl-rent">Rented</div>
			<div class="dl-div dl-buy">Bought</div>
			<div class="dl-div active dl-all" >All</div>
		</div>
		<div class="dash-right">
			<div class="heading">DashBoard</div>
			<p style="display: none" class="remainArray">{{ remain}}</p>
			<div class="ebooks">
				<div class="row">
					{% for dash in dashes %}
					{% if dash.active == True %}
					<a href="/read/{{ dash.ebook.id}}/" target="_blank">
					<div class="col-sm-4 dashes">
            			<div class="card">
						  <img src="https://s3.ap-south-1.amazonaws.com/readerearth/media/{{ dash.ebook.img }}" alt="Ebook">
						  <div class="overlay" data-id={{ forloop.counter}}>
						  	
						  </div>
						  <div class="container">
						    <p class="title" data-id={{ forloop.counter }}><b>{{ dash.ebook.name }}</b></p> 
						    <p class="author" data-id={{ forloop.counter }}><b>- {{ dash.ebook.author }}</b></p> 
						    <p class="publisher" data-id={{ forloop.counter }}>{{dash.ebook.language}}, {{ dash.ebook.publisher }}</p>
						    
						  </div>
						</div>
            		</div>
            	    </a>
            		
            		{% endif %}
            		{% endfor %}
            		{% for dash in bdashes %}
					{% if dash.active == True %}
					<a href="/read/{{dash.ebook.id}}" target="_blank">
					<div class="col-sm-4 bdashes">
            			<div class="card">
						  <img src="https://s3.ap-south-1.amazonaws.com/readerearth/media/{{ dash.ebook.img }}" alt="Ebook">
						  <div class="overlay">
						  	Buyed
						  </div>
						  <div class="container">
						    <p class="title" data-id={{ forloop.counter }}><b>{{ dash.ebook.name }}</b></p> 
						    <p class="author" data-id={{ forloop.counter }}><b>- {{ dash.ebook.author }}</b></p> 
						    <p class="publisher" data-id={{ forloop.counter }}>{{dash.ebook.language}}, {{ dash.ebook.publisher }}</p>
						    
						  </div>
						</div>
            		</div>
            	    </a>
            		
            		{% endif %}
            		{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
