{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Shop{% endblock %}
{% block style %}
.mp-1{
	margin-top: -15px;
}
#addcartbox{
	position: absolute;
	top: 50px;
	background-color: #FFFFFF;
	height: 40px;
	color: #4DBE44;
	right: 2.6%;
	border-radius: 5px;
	box-shadow: 0px 0px 25px rgba(239,58,71,1.0);
	padding-left: 15px;
	padding-right: 15px;
	z-index: 10;
	display: none;
}
#addcartarrow{
  position: absolute;
  top: -10px;
  right: 11.5%;
	width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  
  border-bottom: 10px solid  #FFFFFF;
}
#detailaddcartsvg{
	width: 15px;
	position:relative;
	top: 11px;
}
#addcartbox span{
	position: relative;
	top: 9px;
	left: 2px;
}
{% endblock %}
{% block content %}
    <div id="addcartbox">
    	<div id="addcartarrow"></div>
    	<svg id="detailaddcartsvg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.64 9.64"><defs><style>.detailaddcartsvg-1{fill:#fff;stroke:#75c152;stroke-miterlimit:10;stroke-width:0.4px;}.detailaddcartsvg-2{fill:#75c152;}</style></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="detailaddcartsvg-1" cx="4.82" cy="4.82" r="4.62"/><rect class="detailaddcartsvg-2" x="3.18" y="3.98" width="0.4" height="2.91" rx="0.2" ry="0.2" transform="translate(-2.88 4.08) rotate(-45.91)"/><rect class="detailaddcartsvg-2" x="5.52" y="2.55" width="0.4" height="4.54" rx="0.2" ry="0.2" transform="translate(4.97 -2.62) rotate(44.09)"/></g></g></svg>
    	<span>Book is successfully added to your cart</span>
    </div>
	<div class="detail-container">
	    <div class="detail-1">
	    	<div class="mp-1-wrapper">
			<div class="mp-1">
				<span>Genre<i class="fa fa-angle-down" aria-hidden="true"></i><i class="fa fa-angle-up" aria-hidden="true" style="display: none"></i></span>
				<span><a href="/search/?nr=true">New Releases</a></span>
				<span><a href="/search/?bs=true">Best Seller</a></span>
				<span><a href="/search/">Top Charts</a></span>
				<span><a href="/search/">Offer</a></span>
				<div class="shop-genre-list row">
					<div class="col-sm-6">
						<ul class="shop-genre-list-ul">
							<li><a href="/search/?cat=Self-Development">Self-Development</a></li>
							<li><a href="/search/?cat=Fiction,+Literature+%26+Novels">Fiction, Literature & Novels</a></li>
							<li><a href="/search/?cat=Health+%26+Fitness">Health & Fitness</a></li>
							<li><a href="/search/?cat=Academic+Books">Academic Books</a></li>
							<li><a href="/search/?cat=Business+%26+Finance">Business & Finance</a></li>
							<li><a href="/search/?cat=Religion+%26+Spirituality">Religion & Spirituality</a></li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul>
							<li><a href="/search/?cat=Children's+Books">Children's Books</a></li>
							<li><a href="/search/?cat=Competitive+Books">Competitive Books</a></li>
							<li><a href="/search/?cat=Biographies+%26+Memoirs">Biographies & Memoirs</a></li>
							<li><a href="/search/?cat=Short+Stories+%26+Poetry">Short Stories & Poetry</a></li>
							<li><a href="/search/?cat=Science+%26+Technology">Science & Technology</a></li>
							<li><a href="/search/?cat=Young+Adult">Young Adult</a></li>
						</ul>
					</div>
				</div>
			</div>
		    </div>
		    <div class="detail-core">
		    	<div class="detail-img" data-img="https://s3.ap-south-1.amazonaws.com/readerearth/{{ebook.img}}">
		    		<i class="fa fa-heart" style="font-size:18px;color:rgb(178,178,178);"></i>
		    	</div>
		    	<div class="detail-text">
		    		<h3 class="detail-name">{{ ebook.name }}</h3>
		    		<div class="detail-text-wrapper">
		    		<span class="detail-author">By {{ ebook.author }}</span>
		    		<p>
		    		<span class="detail-stars" data-rating="{{ ebook.rating }}"></span>
		    		<span class="detail-starusers">({{ ebook.ratedusers }} reviews)</span>
		    	    </p>
		    		<a class="detail-sample" href="/sample/{{ebook.id}}" target="_blank">Read free sample</a>
		    		<span class="detail-atc"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Add to Cart</span></span>
		    		<p class="detail-price-wrapper">
		    		<span class="detail-nprice" data-price="{{ ebook.price }}">&#8377; {{ ebook.price }}</span>
		    		<span class="detail-oprice"></span>
		    		<span class="detail-discount"></span>
		    	    </p>
		    	    <p class="detail-buy-wrapper">
		    	    {% csrf_token %}
		    		<button class="detail-buy">Buy <span>Ebook</span></button>
		    		<span class="detail-or">or</span>
		    		<span class="detail-duration-title">Select duration</span>
		    		<select class="detail-rentselect">
		    			{% for opt in ebook.dayopt %}
		    			<option value="{{ opt }}">{{ opt }}</option>
		    			{% endfor %}
		    		</select>
		    		{% csrf_token %}
		    		<button class="detail-rent">Rent</button>
		    		<span class="detail-lmore">Learn more</span>
		    	    </p>
		    	    </div>
		    	</div>
		    	<span class="detail-special"></span>
		    	<div class="detail-description">
		    		<div class="detail-description-text">
		    			{% autoescape off %}
		    			{{ ebook.description }}
		    			{% endautoescape %}
		    		</div>
		    		<span class="detail-rmore">Read More</span>
		    	</div>
		    	<div class="detail-rating">
		    		<p class="detail-rating-text">{{ ebook.rating }}</p>
		    		<p class="detail-nrating">({{ebook.ratedusers}} reviews)</p>
		    		<p class="detail-rate-title">Rate the book</p>
		    		{% csrf_token %}
		    		<p class="detail-rstars">
		    			<i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
		    		</p>
		    	</div>
		    	<div class="detail-add">
		    		<h3 class="detail-add-title"><span>Additional Details</span></h3>
		    		<table class="detail-add-table">
		    			<tbody>
		    				<tr>
		    					<td>Pages</td>
		    					<td>{{ ebook.pages }}</td>
		    				</tr>
		    				<tr>
		    					<td>Publisher</td>
		    					<td>{{ ebook.publisher.name }}</td>
		    				</tr>
		    				<tr>
		    					<td>Published On</td>
		    					<td>{{ ebook.publishdate }}</td>
		    				</tr>
		    				<tr>
		    					<td>Language</td>
		    					<td>{{ ebook.language }}</td>
		    				</tr>
		    				<tr>
		    					<td>Genre</td>
		    					<td>{{ ebook.category.cat }}</td>
		    				</tr>
		    				<tr>
		    					<td>ISBN</td>
		    					<td>{{ ebook.isbn }}</td>
		    				</tr>
		    			</tbody>
		    		</table>
		    	</div>
		    </div>
		    {% if sfbooks != None %}
		    <h3 class="detail-sug-title">Other books by this {{sftitle}}</h3>
		    {% if sfless == False %}
		    <div class="detail-sug-wrapper">
		    	{% for book in sfbooks %}
				<div class="card" data-eid="{{ book.id }}">
				  <i class="fa fa-heart" style="font-size:16px;color:#E4E4E4;position: absolute;top: 10px;margin-left: 135px;"></i>
    			  <a href="/detail/{{book.id}}/">
				  <img src="https://s3.ap-south-1.amazonaws.com/readerearth/{{ book.img }}" alt="Ebook">
				  <div class="container">
				    <p class="title" data-id={{ forloop.counter }}>{{ book.name }}</p> 
				    <p class="author" data-id={{ forloop.counter }}>{{ book.author }}</p>
				    <p class="stars" data-rating="{{ book.rating }}"></p> 
				    <span class="nprice"><b>&#x20b9; {{ book.price }}</b></span>
				    <span class="oprice"></span>
				  </div>
				  </a>
				</div>
				{% endfor %}
		    </div>
		    {% else %}
		    <div class="detail-sug-wrapper2">
		    	{% for book in sfbooks %}
				<div class="card" data-eid="{{ book.id }}">
				  <i class="fa fa-heart" style="font-size:16px;color:#E4E4E4;position: absolute;top: 10px;margin-left: 135px;"></i>
    			  <a href="/detail/{{book.id}}/">
				  <img src="https://s3.ap-south-1.amazonaws.com/readerearth/{{ book.img }}" alt="Ebook">
				  <div class="container">
				    <p class="title" data-id={{ forloop.counter }}>{{ book.name }}</p> 
				    <p class="author" data-id={{ forloop.counter }}>{{ book.author }}</p>
				    <p class="stars" data-rating="{{ book.rating }}"></p> 
				    <span class="nprice"><b>&#x20b9; {{ book.price }}</b></span>
				    <span class="oprice"></span>
				  </div>
				  </a>
				</div>
				{% endfor %}
		    </div>
		    {% endif %}
		    {% endif %}
	    </div>
	    <div class="detail-2">
	    	<span class="detail-similar-title">Similar Ebooks</span>
	    	<a href="/search/" class="detail-s-viewall">View All</a>
	    	<div class="detail-similar">
	    		{% for book in similarbooks %}
	    		<div class="detail-similar-book" data-id="{{ book.id }}">
	    			<i class="fa fa-heart" style="font-size:12px;color:rgb(178,178,178);"></i>
	    			<a href="/detail/{{book.id}}/">
	    			<div class="detail-similar-img" data-img="https://s3.ap-south-1.amazonaws.com/readerearth/{{book.img}}">
		    		  
		    	    </div>
		    	    <div class="detail-similar-rating">
		    	    	<p class="detail-similar-stars" data-rating="{{ book.rating}}"></p>
		    	    	<span class="detail-similar-starusers">({{ book.ratedusers }} reviews)</span>
		    	    </div>
		    	    <div class="detail-similar-text">
		    	    	<h4 class="detail-similar-name">{{ book.name }}</h4>
		    	    	<p class="detail-similar-author">{{ book.author }}</p>
		    	    	<div class="detail-similar-description">
			    			{% autoescape off %}
			    			{{ book.description }}
			    			{% endautoescape %}
			    		</div>
		    	    	<p class="detail-similar-price">
		    	    		<span class="detail-similar-nprice" data-price="{{ book.price }}">&#8377; {{ book.price }}</span>
		    	    		<span></span>
		    	    		<span class="detail-similar-oprice"></span>
		    	    		<span class="detail-similar-discount"></span>
		    	    	</p>
		    	    </div>
		    	    </a>
	    		</div>
	    		{% endfor %}
	    	</div>
	    </div>
	</div>
	<p style="display: none" class="hidden-detail-ebook-id">{{ ebook.id }}</p>
	
{% endblock %}
