{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Publisher{% endblock %}
{% block content %}
  {% if allow == True %}
    <div class="pub-container container">
    	<div class="heading">Hello <span class="pubName">{{ publisherName}}</span></div>
    	<div class="inventory">Your <span class="numBooks">{{numBooks }}</span> ebooks are Secured in our Portal</div>
    	<div class="row">
    		<div class="col-sm-6 upload">
    			<h3>Upload Multiple Ebooks(in any format)</h3>
    			<form method="post" enctype="multipart/form-data">
				    {% csrf_token %}
				    <div class="field">{{ form.as_p }}</div>
				    <input type="hidden" name="publisher" class="hiddenPub" value="">
				    <button type="submit">Upload</button>
				</form>
                <h5 class="publisherUploadReply"></h5>
    		</div>
    		<div class="col-sm-5 stats">
    			<h3>Statistics</h3>
    			<div><span>Rented books till now:</span><span>0</span></div>
    			<div><span>Buyed books till now:</span><span>0</span></div>
    			<div><span>Total Earnings:</span><span>&#8377; 0</span></div>
    			<div><span>Pending Payment:</span><span>&#8377; 0</span></div>
    		</div>
    	</div>
  {% else %}
        <div class="publisherLoginRequest">Please Login with Publisher Account!</div>

  {% endif %}
    </div>

{% endblock %}
