{% extends 'base.html' %}
{% load staticfiles %}
{% block style %}
.upload-add-buttons{
  background-color: white;
  border: 1px solid #7e71c9;
  border-radius: 20px;
  padding: 4px 20px 4px 20px;
  font-size: 12px;
  outline: none;
}
.upload-add-panel{
  position: fixed;
  top: 20%;
  left: 35%;
  width: 30%;
  height: 120px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 4px rgb(128,128,128);
  z-index: 1;
  display: none;
}
.upload-add-panel h3{
  text-align: center;
}
.upload-add-panel-control{
  margin-top: 20px;
  text-align: center;
}
.upload-add-panel-control button{
    background-color: #7e71c9;
    border: none;
    color: white;
    border: 1px solid #7e71c9;
}
{% endblock %}
{% block content %}
{% if usercheck == True %}
<div class="container" id="upload-book-container">
  <h2>Upload form</h2>
  <form method="post" enctype="multipart/form-data" id="upload-book-form">
  	{% csrf_token %}
    <div class="form-group">
      <label for="name">Title:</label>
      <input type="text" class="form-control" id="upload-book-title" placeholder="Enter the Title of Book" name="name" required>
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <select id='upload-author-select' name='author' style="width: 200px" required>
        <option value="Select an Author" disabled selected>Select an Author</option>
        {% for author in authors %}
        <option value="{{ author.name}}">{{ author.name}}</option>
        {% endfor %}
      </select>
      <button id="upload-add-author" class="upload-add-buttons">Add</button>
    </div>
    <div class="form-group">
      <label for="publisher">Publisher:(Optional)</label>
      <select id='upload-publisher-select' name='publisher'>
        <option value="Select a Publisher" disabled selected>Select a Publisher</option>
        {% for publisher in publishers %}
        <option value="{{ publisher.name}}">{{ publisher.name}}</option>
        {% endfor %}
      </select>
      <button id="upload-add-publisher" class="upload-add-buttons">Add</button>
    </div>
    <div class="form-group">
      <label for="publishdate">Publishdate:(Optional)</label>
      <input type="date" class="form-control" id="upload-book-publishdate"  name="publishdate">
    </div>
    <div class="form-group">
      <label for="isbn">ISBN-13:(Optional)</label>
      <input type="text" class="form-control" id="upload-book-isbn" placeholder="Enter ISBN-13" name="isbn">
    </div>
    <div class="form-group">
      <label for="price">Ebook Price:</label>
      <input type="number" class="form-control" id="upload-book-price" placeholder="Enter The Price" name="price" required>
    </div>
    <div class="form-group">
      <label for="pages">Paperback Pages:</label>
      <input type="number" class="form-control" id="upload-book-pages" placeholder="Enter Number of Pages" name="pages" required>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select id='upload-category-select' name='category'>
      	{% for cat in cats %}
        <option value="{{ cat.cat}}">{{ cat.cat}}</option>
        {% endfor %}
      </select>
      <button id="upload-add-category" class="upload-add-buttons">Add</button>
    </div>
    <div class="form-group">
      <label for="ebookfile">Ebook file:</label>
      <input type="file" class="form-control" id="ebookfile" name="ebookfile" required>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" class="form-control" id="image" name="image" required>
    </div>
    <div class="form-group">
      <label for="language">Language:</label>
      <select id="upload-language-select" name="language" style="width: 100px">
      	<option value="English">English</option>
      	<option value="Hindi">Hindi</option>
      </select>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <!--<textarea name="description" id="description" placeholder="Enter the Description here!" class="form-control"></textarea>-->
      <div id="upload-description" style="height: 200px"></div>
      <input type="text" name="description" id="upload-description-input" style="display: none">
    </div>
    <div class="form-group">
      <label for="tag">Tags:</label>
      <select name="tags[]" id="upload-tag-select" style="width: 50%" multiple>
        {% for tag in tags %}
        <option value="{{ tag.name}}">{{ tag.name}}</option>
        {% endfor %}
      </select>
      <button id="upload-add-tag" class="upload-add-buttons">Add</button>
    </div>
    <div class="form-group">
      <label for="priority">Priority:</label>
      <input type="number" class="form-control" id="priority" name="priority" min="1" max="10" step="1" required>
    </div>
    
    <button type="submit" class="btn btn-default" id="upload-book-submit">Submit</button>
  </form>
</div>
<div id="upload-book-container-addition">
  <div class="upload-add-panel" id="upload-add-panel-author">
      <h3>Add Author</h3>
      <div class="upload-add-panel-control">
        <input type="text" name="upload-add-author-input" id="upload-add-author-input">
        {% csrf_token %}
        <button id="upload-add-author-button">Add</button>
        <button id="upload-cancel-author-button">Cancel</button>
      </div>
  </div>
  <div class="upload-add-panel" id="upload-add-panel-publisher">
      <h3>Add Publisher</h3>
      <div class="upload-add-panel-control">
        <input type="text" name="upload-add-publisher-input" id="upload-add-publisher-input">
        {% csrf_token %}
        <button id="upload-add-publisher-button">Add</button>
        <button id="upload-cancel-publisher-button">Cancel</button>
      </div>
  </div>
  <div class="upload-add-panel" id="upload-add-panel-tag">
      <h3>Add Tag</h3>
      <div class="upload-add-panel-control">
        <input type="text" name="upload-add-tag-input" id="upload-add-tag-input">
        {% csrf_token %}
        <button id="upload-add-tag-button">Add</button>
        <button id="upload-cancel-tag-button">Cancel</button>
      </div>
  </div>
  <div class="upload-add-panel" id="upload-add-panel-category">
      <h3>Add Category</h3>
      <div class="upload-add-panel-control">
        <input type="text" name="upload-add-category-input" id="upload-add-category-input">
        <select id="upload-add-category-select">
          <option value="3month">3month</option>
          <option value="12month">12month</option>
        </select>
        {% csrf_token %}
        <button id="upload-add-category-button">Add</button>
        <button id="upload-cancel-category-button">Cancel</button>
      </div>
  </div>
</div>
{% else %}
<h2>You are not allowed to access this page!</h2>
{% endif %}
{% endblock %}